/* This is a CSS file */
#coord {
  position: absolute;
  top: 128px;
}

.coord_added {
  display: flex;
  width: 100vw;
}

.coord_added_img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
}

.coord_added_button_text {
  margin: 0 3vw;
}

.coord_added_button_put {
  background-color: #00ff00;
}

.coord_added_button_adv {
  background-color: #ffff00;
}

.coord_added_button_edi {
  background-color: #0000ff;
  color: #ffffff;
}

.coord_added_button_del {
  background-color: red;
  color: #ffffff;
}

.coord_added_text {
  position: relative;
  top:-3vw; /*ボタンとテキストの位置を近づける*/
  background-color: #ffffff;
}

#coord_modal_img {
  width: 80vw;
  height: 80vw;
  object-fit: cover;
}
