/* This is a CSS file */
#list_cloth {
  display: flex;
  position: absolute;
  top: 128px;
  left: 3vw;
  flex-wrap: wrap;
  padding: 0;
}

.list_img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
}

#addButton {
  width: 45vw;
  height: 45vw;
  background-color: #ddddff;
  font-size: 9vw;
  text-align: center;
}

#nav_add {
  position: fixed;
  bottom: 0px;
  left: 50%;
  width: 50vw;
  height: 64px;
  background-color: #ddddff;
  text-align: center;
}