/* This is a CSS file */
.list_img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
  border: 2px;
  border-color: red;
}

#list_cloth {
  display: flex;
  position: absolute;
  top: 128px;
  left: 3vw;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 64px;
}

#nav_details_add {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 64px;
  background-color: #ffffff;
}

#nav_details {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 50vw;
  height: 64px;
  background-color: #ddddff;
  text-align: center;
}

#nav_add {
  position: fixed;
  bottom: 0px;
  left: 50%;
  width: 50vw;
  height: 64px;
  background-color: #ddddff;
  text-align: center;
}